.vscodeignore
node_modules
src/
.gitignore
tsconfig.json
esbuild.config.js
eslint.config.mjs
vitest.config.ts
**/*.ts
**/*.tsx
!.vscode/launch.json
!.vscode/tasks.json
.git/**
.github/**
.kilo/**
**/*.map
**/*.test.*
**/tsconfig.json

